<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta id="i18n_pagename" content="index">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<title>${meta_title}</title>
<meta name="title" content="${meta_title}" />
<meta name="keywords" content="${meta_keywords}" />
<meta name="description" content="${meta_description}" />
<meta name="msapplication-TileImage" content="${options('site_seo_favicon', '')}" />
<link rel="icon" href="${options('site_seo_favicon', '')}" sizes="32x32" />
<link rel="icon" href="${options('site_seo_favicon', '')}" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="${options('site_seo_favicon', '')}" />

